@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta charset="utf-8">
  <!-- Title and other stuffs -->
  <title>登录</title> 
  <meta name="author" content="">
  <!-- Stylesheets -->
  <link href="@Url.Content("~/content/mac/style/bootstrap.css")" rel="stylesheet">
  <link href="@Url.Content("~/content/mac/style/font-awesome.css")"  rel="stylesheet">
  <link href="@Url.Content("~/content/mac/style/style.css")" rel="stylesheet">
  <link href="@Url.Content("~/content/mac/style/bootstrap-responsive.css")" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
      您的浏览器版本过低，强烈建议使用IE9以上浏览器或谷歌、火狐浏览器！
  <script src="js/html5shim.js"></script>
  <![endif]-->
</head>
<body>
<!-- Form area -->
<div class="admin-form">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <!-- Widget starts -->
            <div class="widget worange">
              <!-- Widget head -->
              <div class="widget-head">
                <i class="icon-lock"></i> 登录 
              </div>

              <div class="widget-content">
                <div class="padd">
                  <!-- Login form -->
                  <form class="form-horizontal" action="@Url.Action("index","main")">
                    <!-- Email -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputUser">用户名</label>
                      <div class="col-lg-9">
                        <input type="text" class="form-control" id="inputUser" placeholder="用户名">
                      </div>
                    </div>
                    <!-- Password -->
                    <div class="form-group">
                      <label class="control-label col-lg-3" for="inputPassword">密码</label>
                      <div class="col-lg-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="密码">
                      </div>
                    </div>
                    <!-- Remember me checkbox and sign in button -->
                    <div class="form-group">
					<div class="col-lg-9 col-lg-offset-3">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> 记住密码
                        </label>
						</div>
					</div>
					</div>
                        <div class="col-lg-9 col-lg-offset-2">
							<button type="submit" class="btn btn-danger">登录</button>
							<button type="reset" class="btn btn-default">重置</button>
						</div>
                    <br />
                  </form>
				  
				</div>
                </div>
              
                <div class="widget-foot">
                  忘记密码? <a href="#">点此找回</a>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
	
		

<!-- JS -->
<script src="http://www.js-css.cn/divcss/admin/mac/js/jquery.js"></script>
<script src="http://www.js-css.cn/divcss/admin/mac/js/bootstrap.js"></script>
</body>
</html>
